/*********************SITE WIDE*******************/
* {
    box-sizing: border-box;
}

/******************* HEADER *********************/
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #dddd;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.2rem;
    color: rgb(77, 77, 100);
}

/************ HAMBURGER NAVIGATION ****************/
.hamburger {
    background: none;
    border: none;
    color: rgb(77, 77, 100);
    cursor: pointer;
}

.hamburger::before {
    content: "\2630";
    font-size: 1.5rem;
}

.hamburger.show::before {
    content: "\2716";
}
/*************** NAVIGATION ******************/
.navigation {
    display: none;
}

.navigation.show {
    display: block;
}
.navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.navigation a {
    display: block;
    padding: .8rem 11px;
    color: rgb(77, 77, 100);
    text-decoration: none;
    border-bottom: solid 1px #dddd;
}
.navigation li.current {
    background-color: #eeee;
}
.navigation a:hover {
    background-color: #eebaebee;
}

h1 {
    margin-left: 11px;
}

/***************** FOOTER ******************/
footer {
    background-color: #eeee;
    padding: 1rem 11px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc solid 1px;
    border-radius: 22px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #eebaebee;
}