/*********************SITE WIDE*******************/
* {
    box-sizing: border-box;
}

/******************* HEADER *********************/
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #dddd;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.2rem;
    color: blue;
}

/************ HAMBURGER NAVIGATION ****************/
.hamburguer {
    background: none;
    border: none;
    color: blue;
    cursor: pointer;
}

.hamburguer::after {
    content: "\2630";
    font-size: 2rem;
}
